@import url("../../assets/stylesheets/main.css");

.container {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 150px;
	height: 400px;
}

.navItem {
	position: relative;
	height: 80px;
}

.logo {
	position: relative;
	width: 100px;
}